{% extends 'product/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    <div style="position: fixed; top: 120px; right: 10px; z-index: 1000;">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div id="success-alert" style="width: 300px;" class="alert alert-success message-alert">
                    {{ message }}
                </div>
				<script>
                    setTimeout(function() {
                        window.location.href = "{% url 'login' %}";
                    }, 2000);
                </script>
            {% elif message.tags == 'error' %}
                <div id="error-alert" style="width: 300px;" class="alert alert-danger message-alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}


<section class="section-content padding-y">
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		
		<form method="post" action="{% url 'register' %}">
			{% csrf_token %}
			<div class="form-row">
				<div class="col form-group">
					<label>First name</label>
					<input type="text" class="form-control" name="first_name" value ="{{ request.POST.first_name }}"required>
				</div>
				<div class="col form-group">
					<label>Last name</label>
					<input type="text" class="form-control" name="last_name" value="{{ request.POST.last_name}}" required>
				</div>
			</div>
		
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" name="email" value="{{ request.POST.email }}" required>
				<small class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
		
			<div class="form-group">
				<label>Gender</label>
				<select class="form-control" name="gender" required>
					<option value="0">Male</option>
					<option value="1">Female</option>
					<option value="2">not specified</option>
				</select>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>City</label>
					<input type="text" class="form-control" name="city" value="{{ request.POST.city}}" required>
				</div>
				<div class="form-group col-md-6">
					<label>Country</label>
					<select id="inputState" class="form-control" name="country" required>
						<option> Choose...</option>
						<option>Uzbekistan</option>
						<option>Russia</option>
						<option selected="">United States</option>
						<option>India</option>
						<option>Afghanistan</option>
					</select>
				</div>
			</div>
		
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Create password</label>
					<input class="form-control" type="password" name="password" required>
				</div>
				<div class="form-group col-md-6">
					<label>Confirm Password</label>
					<input class="form-control" type="password" name="password2" required>
				</div>
			</div>
		
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Register  </button>
			</div>
		</form>
		
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'login'%}">Log In</a></p>
    <br><br>
</section>
{% endblock %}
</body>
</html>